.Toastify__toast {
  padding-left: 0.65em;
  border-radius: 4px;

  &-icon {
    display: none;
  }

  &-container {
    width: auto;

    &--bottom {
      &-left,
      &-center,
      &-right {
        @media #{$media-500-wh} {
          top: 0;
          bottom: unset;
          left: 0;
          right: 0;
        }
      }
    }
  }

  &-body {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 400;
    white-space: break-spaces;

    .Toastify__toast &::before {
      content: "";
      padding-right: 0.5em;
      line-height: 1;
    }
  }

  &--dark {
    background-color: $black-2;
    color: $white-3;
  }

  &--default {
    border-color: $white-2;

    .Toastify__progress-bar {
      background: $white-2;
    }
  }

  &--info {
    border-color: $blue-2;

    .Toastify__toast-body::before {
      content: url("../../media/info.svg");
      filter: $blue-2-svg;
    }

    .Toastify__progress-bar {
      background: $blue-2;
    }
  }

  &--success {
    border-color: $green-1;

    .Toastify__toast-body::before {
      content: url("../../media/checkmark.svg");
      filter: $green-1-svg;
    }

    .Toastify__progress-bar {
      background: $green-1;
    }
  }

  &--warning {
    border-color: $orange-2;

    .Toastify__toast-body::before {
      content: url("../../media/warning.svg");
      filter: $orange-2-svg;
    }

    .Toastify__progress-bar {
      background: $orange-2;
    }
  }

  &--error {
    border-color: $red-2;

    .Toastify__toast-body::before {
      content: url("../../media/error.svg");
      filter: $red-2-svg;
    }

    .Toastify__progress-bar {
      background: $red-2;
    }
  }
}

.Toastify__close-button {
  margin: 0;
  line-height: 1;
  color: $white-2;

  &:hover {
    background-color: transparent;
    color: $red-3;
  }
}
