_assets/
_components/
.DS_Store
.ignore*
.old/
.pnp.js
.vscode/
*.ai
*.db
*.env
*.env.*
*.exe
*.log
*.psd
*node_modules
/.pnp
/coverage
build/
config.json
dist/
env.*
extraResources/
FileStorage/
logs/
MongoDB/
npm-debug.log*