* {
    outline: none;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto", "Calibri", sans-serif;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;

    @media #{$media-500-wh} { font-size: 14px; }
}

#root, .common {
    width: inherit;
    height: inherit;
}

figure { margin: 0; }

h1, h2, h3 {
    margin: 0.5rem 0;
    font-weight: 500;
}

h4, h5, h6 {
    margin: 0 0 0.5rem 0;
    font-weight: 400;
}

p, span { color: var(--text-color); }

p {
    margin: 0;
    font-weight: 400;
}

a {
    text-decoration: none;

    &:visited { color: inherit; }
}

.hidden {
    display: none !important;

    &-panel { opacity: 0; }
}

.invisible {
    visibility: hidden !important;
    transition: visibility 0s;
}

.relative { position: relative; }

.row {
    display: flex;
    flex-flow: row;

    &.between, &.mg-1 {
        > :not(:last-child) { margin-right: 0.25rem; }
    }

    &.mg-2 > :not(:last-child) { margin-right: 0.5rem; }

    &.mobile {
        @media #{$media-500-wh} { flex-flow: column; }

        &.mg-1, &.mg-2 {
            > :not(:last-child) {
                @media #{$media-500-wh} { margin-right: 0; }
            }
        }
    }
}

.column {
    display: flex;
    flex-flow: column;
}

.flex {
    &-child { min-width: 0; }

    &-end { align-self: flex-end; }

    &-grow { flex-grow: 1; }
}

.a-center { align-items: center; }

.j-center { justify-content: center; }

.j-evenly { justify-content: space-evenly; }

.j-around { justify-content: space-around; }

.between { justify-content: space-between; }

.text-center { text-align: center; }

.full-width {
    max-width: 100% !important;
    width: 100% !important;
}

.max-w {
    &-1600 { max-width: 1600px; }
    &-1500 { max-width: 1500px; }
    &-1400 { max-width: 1400px; }
    &-1300 { max-width: 1300px; }
    &-1200 { max-width: 1200px; }
    &-1100 { max-width: 1100px; }
    &-1000 { max-width: 1000px; }
    &-900 { max-width: 900px; }
    &-800 { max-width: 800px; }
    &-700 { max-width: 700px; }
    &-600 { max-width: 600px; }
}

.max-h {
    &-1000 { max-height: 1000px; }
    &-900 { max-height: 900px; }
    &-800 { max-height: 800px; }
    &-700 { max-height: 700px; }
    &-600 { max-height: 600px; }
    &-500 { max-height: 500px; }
    &-400 { max-height: 400px; }
    &-300 { max-height: 300px; }
}

.no-mgn {
    margin: 0 !important;

    &-top { margin-top: 0 !important; }
    &-bottom { margin-bottom: 0 !important; }
    &-left { margin-left: 0 !important; }
    &-right { margin-right: 0 !important; }
}

.no-pad {
    padding: 0 !important;

    &-top { padding-top: 0 !important; }
    &-bottom { padding-bottom: 0 !important; }
    &-left { padding-left: 0 !important; }
    &-right { padding-right: 0 !important; }
}

.mgn-btm { margin-bottom: 0.3rem; }

.pad-ctn {
    &-1 { padding: 1rem; }

    &-2 {
        padding: 2rem;

        @media #{$media-500-wh} { padding: 1.5rem; }
    }

    &-3 {
        padding: 3rem;

        @media #{$media-500-wh} { padding: 2rem; }
    }
}


.scroll-h {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.2rem;
    width: inherit;
    overflow-x: auto;

    &::before, &::after {
        content: "";
        flex: 1;
    }

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
}

.small {
    font-size: 0.7em;

    @media #{$media-500-wh} { font-size: 0.8em; }
}

.glow { text-shadow: 0 0 10px var(--accent-color), 0 0 10px var(--accent-color); }

.clickable { cursor: pointer; }

.rotate {
    &-45 { transform: rotate(45deg); }
    &-90 { transform: rotate(90deg); }
    &-135 { transform: rotate(135deg); }
    &-180 { transform: rotate(180deg); }
    &-225 { transform: rotate(225deg); }
    &-270 { transform: rotate(270deg); }
    &-315 { transform: rotate(315deg); }
}

/* --------------------------------- IMPORTS -------------------------------- */
@import "./scrollbar";