.alert {
    @extend .column, .a-center;

    &-icon {
        height: 4rem;
        width: 4rem;
        padding: 1rem 0;
    }

    &-heading, &-subheading { padding-bottom: 0.5em; }

    &-heading {
        font-size: 1.2em;
        font-weight: 500;
        color: white;
    }

    &-subheading {
        font-weight: 400;
        color: $white-2;
    }

    &-button {
        @extend button;

        &.red {
            background-color: $red-2;

            &:hover {
                color: white;
                background-color: $red-3;
            }
        }

        &.grey {
            background-color: $grey-3;

            &:hover { background-color: $grey-5; }
        }
    }
}