.menu {
    display: flex;
    flex-direction: column-reverse;
}

.menu-toggle {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    margin: 2px 2px 0 0;
    border-radius: 50%;
    z-index: 3;

    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        right: 0;
        top: 0;
        margin: 8px 10px 0 0;
        padding: 5px;
        background: none;
        border: solid rgba(white, 0.6);
        border-width: 0 3px 3px 0;
        box-shadow: 2px 2px 2px 0px rgba(black, 0.3);
        cursor: pointer;
        transform: rotate(45deg);
        transition: .2s all, 0s border;
    }

    &:hover {
        background-image: radial-gradient(rgba(black, 0.4), rgba(black, 0.1));

        &::before { border-color: white; }
    }

    .menu-content:not(.hidden) + & {
        background-image: radial-gradient(rgba($white-1, 0.4), rgba($white-1, 0.1));

        &::before {
            border-color: rgba(black, 0.65);
            box-shadow: 2px 2px 3px 0px rgba($white-1, 0.1);
        }
    }
}

.menu-content {
    position: absolute;
    top: 35px;
    right: 8px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    color: $white-3;
    background-color: rgba(black, 0.65);
    box-shadow: -2px 2px 8px 0 rgba(black, 0.3);
    z-index: 5;

    div {
        padding: 3px 6px;
        border-bottom: 0.75px solid rgba(white, 0.1);
        border-radius: 0;

        &:first-child {
            border-radius: 3px 3px 0 0;
        }

        &:last-child {
            border-bottom: none;
            border-radius: 0 0 3px 3px;
        }

        &:hover {
            background-color: rgba($black-3, 0.5);
            color: white;
        }
    }
}