.modal {
    &-container {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.55);
        z-index: 10;

        span.close {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
            padding: 0.5rem;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            font-size: 24px;
            font-weight: 400;
            line-height: 0.5;
            color: $grey-2;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background: $red-2;
                color: white;
            }
        }

        button.close {
            background-color: $red-3;

            &:hover { background-color: $red-4; }
        }
    }

    &-header {
        @media #{$media-500-wh} { margin-bottom: 0.9rem; }
    }

    &-content {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        width: fit-content;
        height: fit-content;
        max-width: 700px;
        max-height: 98vh;
        margin: 1em auto;
        border-radius: 6px;
        box-shadow: 2px 2px 16px 0px black;
        background-color: $black-1;
        color: $white-3;
        animation: animateZoom 0.6s;

        @media #{$media-750-w} { max-width: 485px; }

        @media #{$media-500-wh} {
            max-width: 98vw;
            overflow: auto;
        }

        &.border {
            &-blue, &-green, &-red, &-orange, &-purple, &-yellow {
                border: 0;
                border-top: 3px solid;
                border-bottom: 2px solid $grey-1;
            }

            &-blue { border-top-color: $blue-2; }
            &-green { border-top-color: $green-1; }
            &-red { border-top-color: $red-2; }
            &-orange { border-top-color: $orange-1; }
            &-purple { border-top-color: $purple-1; }
            &-yellow { border-top-color: $yellow-3; }
        }
    }
}

@keyframes animateZoom {
	0%		{ transform: scale(0); }
	100%	{ transform: scale(1); }
}