.Toastify__toast {
    padding-left: 0.65em;
    // border-left: 3px solid;
    border-radius: 4px;
}

.Toastify__toast-body {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 400;

    .Toastify__toast &::before {
        content: "";
        padding-right: 0.5em;
        line-height: 1;
    }
}

.Toastify__toast--dark {
    background-color: $black-2;
    color: $white-3;
}

.Toastify__toast--default {
    border-color: $white-2;

    .Toastify__progress-bar {
        background: $white-2;
    }
}

.Toastify__toast--info {
    border-color: $blue-2;

    .Toastify__toast-body::before {
        content: url("../../media/info.svg");
        filter: $blue-2-svg;
    }

    .Toastify__progress-bar {
        background: $blue-2;
    }
}

.Toastify__toast--success {
    border-color: $green-1;

    .Toastify__toast-body::before {
        content: url("../../media/checkmark.svg");
        filter: $green-1-svg;
    }

    .Toastify__progress-bar {
        background: $green-1;
    }
}

.Toastify__toast--warning {
    border-color: $orange-2;

    .Toastify__toast-body::before {
        content: url("../../media/warning.svg");
        filter: $orange-2-svg;
    }

    .Toastify__progress-bar {
        background: $orange-2;
    }
}

.Toastify__toast--error {
    border-color: $red-2;

    .Toastify__toast-body::before {
        content: url("../../media/error.svg");
        filter: $red-2-svg;
    }

    .Toastify__progress-bar {
        background: $red-2;
    }
}

.Toastify__close-button {
    margin: 0;
    line-height: 1;
    color: $white-2;

    &:hover {
        background-color: transparent;
        color: $red-3;
    }
}

.bg {
    &-green {
        background-color: $green-3;
    }

    &-blue {
        background-color: $blue-2;
    }

    &-red {
        background-color: $red-3;
    }

    &-orange {
        background-color: $orange-3;
    }

    &-yellow {
        background-color: $yellow-3;
    }
}