table {
    border-collapse: collapse;
    font-weight: 400;
}

th, td { padding: 0.35em; }

.table-vert {
    tbody > tr > th {
        text-align: left;
    }

    &.right > tbody > tr {
        > th {
            text-align: right;
            padding-right: 0.5em;
        }

        > td { padding-left: 0.5em; }
    }
}