@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/roboto-400.woff") format("woff"),
    url("./fonts/roboto-400.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/roboto-500.woff") format("woff"),
    url("./fonts/roboto-500.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/roboto-700.woff") format("woff"),
    url("./fonts/roboto-700.woff2") format("woff2");
}

@font-face {
  font-family: "Material Icons";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/material-icons.woff2") format("woff2");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  color: #dfdfdf;
  font-family: "Roboto", "Calibri", sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  html, body {
    font-size: 14px;
  }
}


#root {
  width: inherit;
  height: inherit;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background: transparent;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner  {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background: rgb(50, 50, 50);
  transition: "all 200ms ease-in-out";
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 75, 75);
  transition: "all 200ms ease-in-out";
}
