* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  background-color: #1f1f1f;
  color: #dfdfdf;
  height: 100%;
  margin: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  html,
  body {
    font-size: 14px;
  }
}

#root {
  height: inherit;
  overflow: hidden;
  width: inherit;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  padding: 1px 0px;
  width: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(50, 50, 50);
  border-radius: 6px;
  transition: "all 200ms ease-in-out";
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 75, 75);
  transition: "all 200ms ease-in-out";
}
